* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto';
    margin: 0;
    letter-spacing: 18.5px;
    color: #ffc5a1;
    position: absolute;
    align-items: center;
    text-align: center;
    width: 100vw;
}

.bg {
    background-color: #fcf9ea;
    height: 40vh;
    position: relative;
    text-emphasis: none;
    text-align: center;
    align-content: center
}

.bg2 {
    background-color: #badfdb;
    height: 30vh;
}

.bg3 {
    background-color: #f8a978;
    height: 20vh;
}

.bg4 {
    background-color: #ffc5a1;
    height: 10vh;
}

.bg .divheader #h1 {
    font-size: 50px;
    top: -50px;
}

form {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    border-radius: 50px;
    padding: 10vh 5vh 2vh 5vh;
    outline: none;
    border: none;
    width: auto;
    height: 10vh;
    font-size: 28px;
    letter-spacing: 30px;
    opacity: 0.7;
    position: relative;
    align-items: center;
    text-align: center;
}

a {
    text-decoration: none;
    color: #fff;
    right: 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.bg2 .a2 {
    text-decoration: none;
    color: #fff;
    right: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    margin: 80px;
    font-size: 25px;
}

.bg .divheader .h1 {
    font-size: 50px;
    position: relative;
    text-align: center;
    align-items: center;
    top: 75px;
    color: #f8a978;
    font-weight: lighter;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    font-size: 40PX;
}

#genderbox {
    margin: 30px auto 0;
    display: block;
    width: 300px;
    height: 40px;
    outline: none;
    border: none;
    width: auto;
    font-size: 30px;
    text-align: center;
    background-color: #fff;
    border-radius: 50px;
    color: #badfdb;
    transition: linear;
}

#button {
    border-radius: 50px;
    padding: 2vh 5vh 2vh 5vh;
    outline: none;
    border: none;
    width: auto;
    height: 10vh;
    font-size: 28px;
    letter-spacing: 30px;
    opacity: 0.7;
    position: relative;
    align-items: center;
    text-align: center;
    text-decoration: none;
    background-color: #ffffff;
    color: #fff;
    right: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    margin: 80px;
    text-transform: lowercase;
}